# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Byte-compiled / optimised / DLL files
**/__pycache__/
**/*.py[cod]
**$py.class

# Python venv
artefactscanvenv/
.venv/

# Test files
.pytest_cache/
tests/

# Misc
README.md
.pre-commit-config.yaml

# Environment files
.env*

# Agents
.agents/
.claude/
agent/
skills-lock.json
