content-size-limit-asgi==0.1.5
fastapi[standard-no-fastapi-cloud-cli]==0.136.0
filelock==3.25.2
modelscan[tensorflow,h5py]==0.8.8
oras==0.2.42
pydantic_settings==2.13.1
python-multipart==0.0.26
uvicorn==0.44.0
