content-size-limit-asgi==0.1.5
fastapi[standard-no-fastapi-cloud-cli]==0.136.1
filelock==3.29.0
modelscan[tensorflow,h5py]==0.8.8
oras==0.2.42
pydantic_settings==2.14.0
python-multipart==0.0.27
uvicorn==0.46.0
