# Basic dependabot.yml file with
# minimum configuration for two package managers

version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: 'npm'
    # Look for `package.json` and `lock` files in the `root` directory
    directory: '/'
    # Check the npm registry for updates every month
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    # Allow up to 15 open pull requests for node dependencies
    open-pull-requests-limit: 15
    # group related packages into one PR
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint-*"
          - "eslint"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      rjsf:
        patterns:
          - "@rjsf/*"
      mui:
        patterns:
          - "@mui/*"
      emotion:
        patterns:
          - "@emotion/*"
      mdx:
        patterns:
          - "@mdx-js/*"
          - "@next/mdx"
      babel:
        patterns:
          - "@babel/*"
    labels:
      - 'npm dependencies'
      - '/'

  - package-ecosystem: 'npm'
    # Look for `package.json` and `lock` files in the `/frontend` directory
    directory: '/frontend'
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    open-pull-requests-limit: 15
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint-*"
          - "eslint"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      rjsf:
        patterns:
          - "@rjsf/*"
      mui:
        patterns:
          - "@mui/*"
      emotion:
        patterns:
          - "@emotion/*"
      mdx:
        patterns:
          - "@mdx-js/*"
          - "@next/mdx"
      babel:
        patterns:
          - "@babel/*"
    labels:
      - 'npm dependencies'
      - '/frontend'

  - package-ecosystem: 'npm'
    # Look for `package.json` and `lock` files in the `/lib/landing` directory
    directory: '/lib/landing'
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    open-pull-requests-limit: 15
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint-*"
          - "eslint"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      rjsf:
        patterns:
          - "@rjsf/*"
      mui:
        patterns:
          - "@mui/*"
      emotion:
        patterns:
          - "@emotion/*"
      mdx:
        patterns:
          - "@mdx-js/*"
          - "@next/mdx"
      babel:
        patterns:
          - "@babel/*"
    labels:
      - 'npm dependencies'
      - '/lib/landing'

  - package-ecosystem: 'npm'
    # Look for `package.json` and `lock` files in the `/backend` directory
    directory: '/backend'
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    open-pull-requests-limit: 15
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint-*"
          - "eslint"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      rjsf:
        patterns:
          - "@rjsf/*"
      mui:
        patterns:
          - "@mui/*"
      emotion:
        patterns:
          - "@emotion/*"
      mdx:
        patterns:
          - "@mdx-js/*"
          - "@next/mdx"
      babel:
        patterns:
          - "@babel/*"
    labels:
      - 'npm dependencies'
      - '/backend'

  # Enable version updates for Docker
  - package-ecosystem: 'docker'
    # Look for a `Dockerfile` in these directories
    directories:
      - '/'
      - '/backend'
      - '/frontend'
      - '/lib/modelscan_api'
    # Check for updates once a week
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10

  # Enable version updates for Docker Compose
  - package-ecosystem: 'docker-compose'
    # Look for docker-compose in these directories
    directories:
      - '/'
    # Check for updates once a week
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10

  # Enable version updates for python
  - package-ecosystem: 'pip'
    # Look for a `requirements*` or `pyproject.toml` in these directories
    directories:
      - '/lib/python'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    open-pull-requests-limit: 10
    labels:
      - 'python dependencies'
      - '/lib/python'

  # Enable version updates for python
  - package-ecosystem: 'pip'
    # Look for a `requirements*` or `pyproject.toml` in these directories
    directories:
      - '/lib/modelscan_api'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    open-pull-requests-limit: 10
    labels:
      - 'python dependencies'
      - '/lib/modelscan_api'

  # Enable version updates for python
  - package-ecosystem: 'pip'
    # Look for a `requirements*` or `pyproject.toml` in these directories
    directories:
      - '/backend/docs'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    open-pull-requests-limit: 10
    labels:
      - 'python dependencies'
      - '/backend/docs'

  # Set update schedule for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    open-pull-requests-limit: 12
