# Docker files aren't used in the application
Dockerfile*
.dockerignore
docker-compose*

# Depdencies are installed inside of container
node_modules

# Temp files / logs
npm-debug.log
.next

# Markdown files
README.md
docs/CONTRIBUTING.md

# Certificates will be explicity mounted
certs 

# Ignore .git folders
.git
.github