# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# certs
!backend/certs
backend/certs/*
!backend/certs/san.cnf

# helm
infrastructure/helm/bailo/charts
infrastructure/helm/bailo/local.yaml

backend/src/scripts/example_schemas/west_upload_schema.json
backend/src/scripts/example_schemas/west_access_request_schema.json