# dependencies
node_modules
backend/node_modules
frontend/node_modules

# misc
.DS_Store

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MLFlow
mlartifacts/
mlruns/

# config dirs
.github
.husky
.vscode

# backend build components
backend/coverage
backend/dist
backend/docs

# frontend build components
frontend/.next
frontend/dist

# lib/landing build components
lib/landing/.next
lib/landing/.scannerwork
lib/landing/coverage
lib/landing/dist

# infrastructure dir
infrastructure

# lib dirs
lib/artefactscan_api
lib/python

# Other files
*env
.dockerignore
