name: bailo

configs:
  mongod_conf:
    file: infrastructure/mongodb/mongod_docker_compose.conf
  mongod_keyfile:
    content: abcdef1234567890

services:
  rustfs:
    user: root
    image: rustfs/rustfs:latest
    security_opt:
      - 'no-new-privileges:true'
    ports:
      - '9000:9000' # S3 API port
      - '9001:9001' # Console port
    environment:
      - RUSTFS_VOLUMES=/data/rustfs0
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_EXTERNAL_ADDRESS=:9000
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_ACCESS_KEY=rustfsadmin
      - RUSTFS_SECRET_KEY=rustfsadmin

    volumes:
      - rustfsVolume:/data/rustfs0
    networks:
      internal:
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'sh',
          '-c',
          'curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  mongo:
    image: mongodb/mongodb-community-server:8.2.2-ubi9
    networks:
      internal:
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=bailoadmin
      - MONGODB_INITDB_ROOT_PASSWORD=bailoadmin
      - MONGODB_INITDB_REPL_SET_HOST=mongo
      - MONGODB_INITDB_DATABASE=bailo
    volumes:
      - mongoVolume:/data/db
    configs:
      - source: mongod_conf
        target: /etc/mongod.conf
      - source: mongod_keyfile
        target: /etc/mongod.keyfile
        mode: 0400
        uid: '999'
        gid: '999'
    command:
      - '-f'
      - '/etc/mongod.conf'
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      start_period: 30s
    ports:
      - 27017:27017

  clamd:
    image: clamav/clamav:1.4.3_base
    networks:
      internal:
    healthcheck:
      test: ['CMD-SHELL', "echo 'PING' | nc -w 5 localhost 3310"]
      interval: 30s
      timeout: 10s
      retries: 5

  modelscan:
    networks:
      internal:
    image: bailo_modelscan:${INSTANCE_NAME}
    build:
      context: ./lib/modelscan_api
    volumes:
      - ./lib/modelscan_api/bailo_modelscan_api:/app/bailo_modelscan_api
    healthcheck:
      test: ['CMD-SHELL', 'curl --fail http://127.0.0.1:3311/info || exit 1']
      interval: 30s
      timeout: 10s
      retries: 5

  nginx:
    image: nginxinc/nginx-unprivileged:1.28.0-alpine3.21-slim
    networks:
      default:
      internal:
    volumes:
      - ./infrastructure/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - ${EXTERNAL_PORT}:8080
    depends_on:
      - frontend
      - backend

  registry:
    image: registry:3.0.0
    networks:
      internal:
    environment:
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/cert.pem
      REGISTRY_HTTP_TLS_KEY: /certs/key.pem

      REGISTRY_STORAGE_S3_ACCESSKEY: rustfsadmin
      REGISTRY_STORAGE_S3_SECRETKEY: rustfsadmin

      REGISTRY_AUTH: token
      REGISTRY_AUTH_TOKEN_REALM: http://backend:3001/api/v1/registry_auth
      REGISTRY_AUTH_TOKEN_SERVICE: RegistryAuth
      REGISTRY_AUTH_TOKEN_ISSUER: RegistryIssuer
      REGISTRY_AUTH_TOKEN_JWKS: /certs/jwks.json
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /certs/cert.pem
    volumes:
      - ./backend/config/registry.conf:/etc/distribution/config.yml
      - ./backend/certs:/certs

  frontend:
    networks:
      internal:
    image: bailo_frontend:${INSTANCE_NAME}
    build:
      context: ./frontend/
    depends_on:
      - backend

  backend:
    networks:
      internal:
    image: bailo_backend:${INSTANCE_NAME}
    build:
      context: ./backend/
      additional_contexts:
        python: ./lib/python
    volumes:
      - ./backend/certs:/certs
      - ./backend/certs:/usr/local/share/ca-certificates
      - ./backend/config:/app/config
    depends_on:
      clamd:
        condition: service_healthy
      registry:
        condition: service_started
      modelscan:
        condition: service_healthy
      rustfs:
        condition: service_started
      mongo:
        condition: service_started
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      - NODE_CONFIG_ENV=${INSTANCE_NAME}_docker_compose

volumes:
  rustfsVolume:
    name: ${INSTANCE_NAME}_rustfsVolume
  mongoVolume:
    name: ${INSTANCE_NAME}_mongoVolume

networks:
  default:
    name: ${INSTANCE_NAME}_default
  internal:
    name: ${INSTANCE_NAME}_internal
