services:
  mongo:
    image: bitnami/mongodb:7.0.8
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongo
      - MONGODB_ADVERTISED_PORT_NUMBER=27017
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=developmentReplicaSetKey
      - MONGODB_ROOT_USER=mongoadmin
      - MONGODB_ROOT_PASSWORD=mongoadmin
      - MONGODB_REPLICA_SET_NAME=rs0
    volumes:
      - mongoVolume:/bitnami/mongodb
    ports:
      - 27017:27017
    healthcheck:
      test:
        test $$(mongosh --authenticationDatabase admin --username ${MONGODB_ROOT_USER:-'mongoadmin'} --password
        ${MONGODB_ROOT_PASSWORD:-'mongoadmin'} --quiet --eval "rs.status().ok") -eq 1
      interval: 10s
      start_period: 30s

  minio:
    image: bitnami/minio:2024.4.6
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minioVolume:/bitnami/minio

  clamd:
    image: clamav/clamav:1.3

  mailcrab:
    image: marlonb/mailcrab:v1.2.0
    ports:
      - 1080:1080
      - 1025:1025

  nginx:
    image: nginxinc/nginx-unprivileged:1.25.4-alpine3.18
    volumes:
      - ./infrastructure/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:8080
    depends_on:
      - frontend
      - backend
      - registry

  registry:
    restart: always
    image: registry:2.8.3
    ports:
      - 5000:5000
    environment:
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/cert.pem
      REGISTRY_HTTP_TLS_KEY: /certs/key.pem

      REGISTRY_STORAGE_S3_ACCESSKEY: minioadmin
      REGISTRY_STORAGE_S3_SECRETKEY: minioadmin

      REGISTRY_AUTH: token
      REGISTRY_AUTH_TOKEN_REALM: http://backend:3001/api/v1/registry_auth
      REGISTRY_AUTH_TOKEN_SERVICE: RegistryAuth
      REGISTRY_AUTH_TOKEN_ISSUER: RegistryIssuer
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /certs/cert.pem
    volumes:
      - ./backend/config/registry.conf:/etc/docker/registry/config.yml
      - ./backend/certs:/certs

  frontend:
    build:
      context: ./frontend/
      dockerfile: ./Dockerfile.dev
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    ports:
      - 3000:3000

  backend:
    build:
      context: ./backend/
      dockerfile: ./Dockerfile.dev
    volumes:
      - ./backend:/app
      - ./backend/certs:/certs
      - ./backend/certs:/usr/local/share/ca-certificates
    ports:
      - 3001:3001
      - 9229:9229
    depends_on:
      - mongo
      - minio
      - clamd
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      - NODE_CONFIG_ENV=docker_compose
  webhook-tester:
    image: tarampampam/webhook-tester
    command: serve --port 8082 --create-session 00000000-0000-0000-0000-000000000000
    ports: ['8082:8082/tcp'] # Open <http://127.0.0.1:8080/#/00000000-0000-0000-0000-000000000000>

volumes:
  minioVolume:
  mongoVolume:
