# Docker/Git
Dockerfile
.dockerignore
.git
.gitignore

# Byte-compiled / optimised / DLL files
**/__pycache__/
**/*.py[cod]
**$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.installed.cfg

# Virtual environments
*env/
*ENV/
libpythonvenv/

# Testing
tests/
.pytest_cache/
.coverage
htmlcov/
*.lcov

# IDE
.vscode/

# Environment files
.env*

# MLFlow
mlartifacts/
mlruns/

# Misc
CHANGELOG.md
