# Byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.installed.cfg

# Test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Environments
.env
*env/
*ENV/
libpythonvenv/

# VS Code
.vscode/

# resnet
resnet50_weights.pth
