{{- if .Values.artefactscan.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bailo.fullname" . }}-artefactscan
  labels:
    {{- include "bailo.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: artefactscan
  template:
    metadata:
      labels:
        name: artefactscan
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: {{ include "bailo.fullname" . }}-artefactscan
        ports:
          - name: artefactscanport
            containerPort: {{ .Values.artefactscan.port }}
            protocol: TCP
        image: "{{ .Values.image.artefactscanRepository }}:{{ .Values.image.artefactscanTag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          requests:
            memory: "100Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "1"
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
        - name: tmp
          emptyDir: {}
        - name: artefactscan-log
          emptyDir: {}
{{- end }}
