# Default values for bailo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Bailo image location
image:
  frontendRepository: "frontend-image-registry.location"
  frontendTag: imageTag
  backendRepository: "backend-image-registry.location"
  backendTag: imageTag
  artefactscanRepository: "artefactscan-image-registry.location"
  artefactscanTag: imageTag
  pullPolicy: IfNotPresent
imagePullSecrets: []

# non-identifying metadata
podAnnotations: {}

# Instance scaling
# ReplicateCount ignored if autoscaling is enabled
replicaCount: 1
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80 # hpa configuration
  targetMemoryUtilizationPercentage: 80 # hpa configuration

# Pod Security settings
podSecurityContext:
  {}
  # fsGroup: 2000

# Networking
# Ingress/route implementation. Also, see appPublicRoute below.
service:
  type: ClusterIP
  frontendPort: 3000
  backendPort: 3001

# k8s | aws config
ingress:
  enabled: false
  name: "nginx"
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true
  fqdn: "example.com"
  path: "/"
  pathType: "Prefix"
  service:
    name: "node-port"
    port: 8080

# Used for OpenShift
route:
  enabled: false # false for k8s | aws
  appPublicRoute: "route-url" # can also be used for aws loadbalancer url

# Oauth | Cognito
# using bash for generating cookie secret example
# dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_'; echo
cookie:
  secret: "somerandomstring12341234567890AB"
oauth:
  enabled: false
  origin: "bailo fqdn"
  cognito:
    key: "cognito app client id"
    secret: "cognito app client secret"
    dynamic: [] # example 'scope'
    response: [] #example 'tokens', 'raw', 'jwt'
    callback: "" # example /
    subdomain: "cognito domain"
    adminGroupName: ''
  identityProviderClient:
    userPoolId: "region_id"
    userIdAttribute: "name"

# Used for aws storage
aws:
  enabled: false
  storageName: "bailo-ebs-sc"
  pvcMinioName: "bailo-minio"
  pvcMinioStorage: 20Gi
  pvcMongoName: "bailo-mongodb"
  pvcMongoStorage: 10Gi
  ses:
    endpoint: ""
    region: ""
  s3:
    # Potentially requires setting to avoid OOM/memory leak as per https://github.com/aws/aws-sdk-js-v3/issues/7657
    responseChecksumValidation: ""

# Pod resource
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

resourcesFrontend:
  limits:
    cpu: 400m
    memory: 800Mi
  requests:
    cpu: 400m
    memory: 800Mi

resourcesBackend:
  limits:
    cpu: 800m
    memory: 2Gi
  requests:
    cpu: 400m
    memory: 1Gi

# Pod placement
nodeSelector: {}
tolerations: []
affinity: {}

# Mongo Dependencies
mongodb:
  enabled: true
  ssl: false
  sslValidate: false
  host: "" # serviceName:mongoport/collectionname or serviceName-headless:mongoport/collectionname for mongodb replicaset. see template/_helper.tpl and templates/bailo/bailo.configmap.yaml.
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false #Readiness probe failed: /bitnami/scripts/readiness-probe.sh: line 9: mongosh: command not found
  auth:
    rootUser: ""
    rootPassword: ""
    replicaSetKey: ""
    #existingSecret: "bailo-mongodb" # HELM generated Secret name. Uncomment Mongo Secret details from bailo.secret.yaml for dynamic password configuration.
    usernames: [bailo_user] # defined user for database connection. required for ConfigMap bailo-config
    passwords: [] # required for ConfigMap bailo-config
    databases: [bailo] # defined database for Mongo
  service:
    port: 27017
  collectionName: bailo # Collection name in Mongo
  persistence:
    #enabled: false # Required for aws. EKS is not able to handle dynamic creation of PVC using this helm chart. Instead /templates/storage.yaml handles eks storage. Storage is not removed when deployed mongodb is removed.
    size: 10Gi
  containerSecurityContext:
    enabled: false
  podSecurityContext:
    enabled: false
  image:
    registry: docker.io
    repository: bitnamilegacy/mongodb
    tag: 8.0.13-debian-12-r0

# MinIO Dependencies
minio:
  enabled: true
  mode: standalone
  console:
    enabled: false
  auth:
    enable: true
    rootUser: ""
    rootPassword: ""
    existingSecret: "bailo-minio" # Helm generated Secret
    usePasswordFiles: false
  defaultBuckets: "uploads,registry"
  createBuckets: "false" # attempt to create buckets
  uploadBucket: uploads # required for Bailo
  registryBucket: registry # required for Bailo
  host: "bailo-minio"
  # skip the security verification check https://github.com/bitnami/charts/issues/30850
  global:
    security:
      allowInsecureImages: true
  useSSL: false
  persistence:
    #enabled: false # Required for aws. EKS is not able to handle dynamic creation of PVC using this helm chart. Instead /templates/storage.yaml handles eks storage. Storage is not removed when deployed minio is removed.
    size: 20Gi
  containerSecurityContext:
    enabled: false
  podSecurityContext:
    enabled: false
  region: ignored-for-minio
  partSizeMB: 64
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
    tag: 2025.7.23-debian-12-r1
    debug: true

# Registry Dependencies
registry:
  repository: registry
  tag: 3.0.0
  enabled: true
  protocol: "https"
  #host: "bailo-registry" # service name
  port: 5000 # default 5000
  insecure: "true"
  certDir: "/certs"
  certFile: cert.pem #use san.cnf to create certs
  jwksFile: jwks.json
  keyFile: key.pem
  serviceAccount: ''

federation:
  id: 'localBailo'
  state: 'disabled'
  peers:
    - name: 'huggingface'
      state: 'enabled'
      baseUrl: 'https://huggingface.co'
      label: 'Hugging Face'
      kind: 'huggingfacehub'
      cacheQuery: 60
      statusModelName: 'openai/whisper-large-v3'
      statusModelId: '654a84cadff2f49007ce6c37'

# Nginx Dependencies
nginxAuth:
  repository: nginxinc/nginx-unprivileged # runs Nginx as non-root unprivileged user.
  tag: 1.28.0-alpine3.21-slim
  #host: "bailo-nginx" # service name
  port: 8080
  #certDir: "/certs"
  #certFile: "tls.crt"
  #keyFile: "tls.key"

# Mail
mail:
  enabled: true
  image: marlonb/mailcrab:v1.6.4

# Openshift specific configuration
openshift:
  namespace: openshift-project
  termination: edge

# Instance Settings
config:
  log:
    level: trace
  ui:
    banner:
      enabled: false
      text: "BAILO"
      colour: "#047a06"
      textColor: "black"

    announcement:
      enabled: false
      text: ''
      startTimestamp: ''

    helpPopoverText:
      manualEntryAccess: ''

    modelDetails:
      organisations: []
      states: []

    roleDisplayNames:
      owner: 'Owner'
      consumer: 'Consumer'
      contributor: 'Contributor'

  smtp:
    #host: 'mail' #service name
    port: 1025
    secure: false
    rejectUnauthorized: false
    user: "mailuser"
    pass: "mailpass"
    from: "bailo@example.com"
    transporter: "smtp"

  app:
    protocol: "https"
    port: 443

  issueLinks:
    support: "mailto:?subject=Bailo%20Contact"
    contact: "mailto:?subject=Bailo%20Contact"

connectors:
  authentication:
    kind: 'silly'

  authorisation:
    kind: 'basic'

  audit:
    kind: 'silly'

  artefactScanners:
    kinds: []
    retryDelayInMinutes: 60
    maxInitRetries: 5
    initRetryDelay: 5000

instrumentation:
  enabled: false
  debug: false

modelMirror:
  import:
    enabled: false
    additionalInfoHeading: 'Additional information'
    originalAnswerHeading: 'Original answer'
  export:
    concurrency: 5
    enabled: false
    disclaimer: '## Example Agreement \n I agree that this model is suitable for exporting'
    kmsSignature:
      enabled: false
      keyId: '123'
      KMSClient:
        region: 'eu-west-1'
        accessKey: ''
        secretKey: ''


# Inferencing cluster reference
inference:
  enabled: false
  # Url for the inferencing cluster
  host: 'https://example.com'
  gpus:
  authorizationTokenName: 'inferencing-token'
  authorisationToken: ''

backend:
  serviceAccount: ''
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1001
  securityContext:
    readOnlyRootFilesystem: false
    # capabilities:
    #   drop:
    #     - ALL
    # runAsUser: 1002380001

frontend:
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1001
  securityContext:
    readOnlyRootFilesystem: false

clamav:
  enabled: false
  runAsUser: 1002
  image: clamav/clamav:1.4.3_base # https://docs.clamav.net/manual/Installing/Docker.html#the-official-images-on-docker-hub
  concurrency: 2
  port: 3310
  accessModes:
    - ReadWriteOnce
  size: 10G

artefactscan:
  enabled: false
  concurrency: 2
  protocol: http
  port: 3311
  accessModes:
    - ReadWriteOnce
  size: 20G  # artefactscan saves each incoming file to the disk so needs plenty of storage
