---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bailo.fullname" . }}-config
  labels:
    {{- include "bailo.labels" . | nindent 4 }}
data:
  production.cjs: |
    module.exports = {{ include "production-config" . | fromYaml | toPrettyJson}}

  custom-environment-variables.cjs: |
    module.exports = {
      mongo: {
        pass: 'MONGO_PASSWORD',
      },
      s3: {
        credentials: {
          accessKeyId: 'MINIO_ACCESS_KEY',
          secretAccessKey: 'MINIO_SECRET_KEY',
        },
      },
      instrumentation: {
        authenticationToken: 'OTEL_EXPORTER_TOKEN',
      },
      inference: {
        authorisationToken: 'INFERENCING_WRITE_TOKEN',
      },
      modelMirror: {
        export: {
          kmsSignature: {
            KMSClient: {
              credentials: {
                accessKeyId: 'KMS_ACCESS_KEY',
                secretAccessKey: 'KMS_ACCESS_KEY',
              },
            },
          },
        },
      },
    }
