# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Byte-compiled / optimized / DLL files
**__pycache__/
**.py[cod]
**$py.class

# Environments
.env
*env/
*ENV/
*env.bak/
modelscanvenv/

# Test files
.pytest_cache/
tests/

# Misc
README.md
.pre-commit-config.yaml
requirements-dev.txt
pytest.ini
